{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
  <h4>Chcete naskladnit příjemku?</h4>
  <hr/>
  <p><a href="{% url 'kitchen:showStockReceipts' %}"><button class="btn btn-secondary">Zpět na seznam příjemek</button></a>
  <form method="post" action="{% url 'kitchen:approveStockReceipt' stock_receipt.id %}">
    {% csrf_token %}
    {{ form|crispy }}
    <table class="table">
      <thead>
        <tr>
          <th>Celková cena s DPH</th>
          <th>Počet naskladňovaného zboží</th>
          <th>Vytvořena dne</th>
          <th>Vytvořila</th>
          <th>Poznámka</th>
        </tr>
      </thead>
      <tbody>
        <td>{{ total_price }} Kč</td>
        <td>{{ items.count }}</td>
        <td>{{ stock_receipt.created }}</td>
        <td>{{ stock_receipt.userCreated.name }}</td>
        <td>{{ stock_receipt.comment }}</td>
      </tbody>
    </table>
    <button type="submit" class="btn btn-success">Naskladnit</button></p>
  </form>
  <h4 style="text-align:center">Zboží k naskladnění</h4>
  <br/>
  <table class="table">
    <thead>
      <tr>
        <th>Zboží</th>
        <th>Množství</th>
        <th>Jednotková cena bez DPH</th>
        <th>DPH</th>
        <th>Jednotková cena s DPH</th>
        <th>Celková cena s DPH</th>
        <th>Poznámka</th>
      </tr>
      </thead>
      <tbody>
      {% for item in items %}
      <tr>
        <td>{{item.article}}</td>
        <td>{{item.amount}} {{item.unit}}</td>
        <td>{{item.priceWithoutVat}} Kč</td>
        <td>{{item.vat}}</td>
        <td>{{item.price_with_vat}} Kč</td>
        <td>{{item.total_price_with_vat}} Kč</td>
        <td>{{item.comment}}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% endblock content %}
