{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container-fluid">
    <h4>Odstranění příjemky</h4>
    <hr/>
    <p><a href="{% url 'kitchen:showStockReceipts' %}"><button class="btn btn-secondary">Zpět na seznam příjemkem</button></a>
    <form method="post" action="{% url 'kitchen:deleteStockReceipt' pk=object.id %}">
      {% csrf_token %}
      {{ form|crispy }}
      <p>Chcete odstranit příjemku?</p>
      <ul>
        <li><b>Vytvořena dne:</b> {{ object.created }}</li>
        <li><b>Vytvořila:</b> {{ object.userCreated.name }}</li>
        <li><b>Poznámka:</b> {{ object.comment }}</li>
      </ul>
      <button type="submit" class="btn btn-success">Odstranit</button></p>
    </form>
  </div>
{% endblock content %}
