{% extends "base.html" %}
{% load humanize %}
{% load crispy_forms_tags static i18n %}
{% block content %}
<div class="container-fluid">
  <h4>{% trans "Chcete odstranit příjemku?" %}</h4>
  <hr/>
  <p><a href="{% url 'kitchen:showStockReceipts' %}"><button class="btn btn-secondary">{% trans "Zpět na seznam příjemek" %}</button></a>
  <form method="post" action="{% url 'kitchen:deleteStockReceipt' pk=object.id %}">
    {% csrf_token %}
    {{ form|crispy }}
    <table class="table">
      <thead>
        <tr>
          <th>{% trans "Celková cena s DPH" %}</th>
          <th>{% trans "Počet naskladňovaného zboží" %}</th>
          <th>{% trans "Vytvořena dne" %}</th>
          <th>{% trans "Vytvořila" %}</th>
          <th>{% trans "Poznámka" %}</th>
        </tr>
      </thead>
      <tbody>
        <td>{{ total_price|intcomma }} {{ CURRENCY }}</td>
        <td>{{ stock_receipt_articles.count }}</td>
        <td>{{ stock_receipt.created }}</td>
        <td>{{ stock_receipt.user_created.name }}</td>
        <td>{{ stock_receipt.comment }}</td>
      </tbody>
    </table>
    <button type="submit" class="btn btn-success">{% trans "Odstranit" %}</button></p>
  </form>
  <h4 style="text-align:center">{% trans "Zboží k naskladnění" %}</h4>
  <br/>
  <table class="table">
    <thead>
      <tr>
        <th>{% trans "Zboží" %}</th>
        <th>{% trans "Množství" %}</th>
        <th>{% trans "Jednotková cena bez DPH" %}</th>
        <th>{% trans "DPH" %}</th>
        <th>{% trans "Jednotková cena s DPH" %}</th>
        <th>{% trans "Celková cena s DPH" %}</th>
        <th>{% trans "Poznámka" %}</th>
      </tr>
      </thead>
      <tbody>
      {% for stock_receipt_article in stock_receipt_articles %}
      <tr>
        <td>{{stock_receipt_article.article}}</td>
        <td>{{stock_receipt_article.amount}} {{stock_receipt_article.unit}}</td>
        <td>{{stock_receipt_article.price_without_vat|intcomma}} {{ CURRENCY }}</td>
        <td>{{stock_receipt_article.vat}}</td>
        <td>{{stock_receipt_article.price_with_vat|intcomma}} {{ CURRENCY }}</td>
        <td>{{stock_receipt_article.total_price_with_vat|intcomma}} {{ CURRENCY }}</td>
        <td>{{stock_receipt_article.comment}}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% endblock content %}
