{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
  <h4>
    Seznam zboží na příjemce z {{ stockreceipt.created }}, vytvořil: {{ stockreceipt.user_created.name }}, celková cena: {{ stockreceipt.total_price|intcomma }} Kč, naskladněno:
    {% if stockreceipt.approved %}
    ANO
    {% else %}
    NE
    {% endif %}
  </h4>
  <hr />
  <div class="row">
    <div class="col-8 justify-content-start d-inline">
      <a href="{% url 'kitchen:showStockReceipts' %}"
        ><button class="btn btn-secondary mb-2">
          Zpět na seznam příjemkem
        </button></a
      >
      <a href="{% url 'kitchen:approveStockReceipt' stockreceipt.id %}"
        ><button class="btn btn-success mb-2">Naskladnit</button></a
      >
      <a
        href="{% url 'kitchen:createStockReceiptArticle' stockreceipt.id %}"
        class="btn btn-primary mb-2"
        >Přidat zboží</a
      >
      Poznámka: {{stockreceipt.comment}}
    </div>
  </div>
  {% render_table table %}
</div>
{% endblock content %}
