{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container-fluid">
    <h4>Seznam příjemek</h4>
    <hr/>
    <div class="row">
      <div class="col justify-content-start">
        <a href="{% url 'kitchen:createStockReceipt' %}" class="btn btn-primary mb-2">Nová příjemka</a>
        {% include 'kitchen/partials/_filter_section.html' %}
      </div>
    </div>
    {% render_table table %}
    <hr/>
  </div>
{% endblock content %}
