{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load humanize %}
{% load crispy_forms_tags static i18n %}
{% block content %}
<div class="container-fluid">
  <h4>
    {% translate "Seznam zboží na příjemce z" %} {{ stockreceipt.created }}, {% translate "vytvořil:" %} {{ stockreceipt.user_created.name }}, {% translate "celková cena:" %} {{ stockreceipt.total_price|intcomma }} {{ CURRENCY }}, {% translate "naskladněno:" %}
    {% if stockreceipt.approved %}
    {% translate "ANO" %}
    {% else %}
    {% translate "NE" %}
    {% endif %}
  </h4>
  <hr />
  <div class="row">
    <div class="col-8 justify-content-start d-inline">
      <a href="{% url 'kitchen:showStockReceipts' %}"
        ><button class="btn btn-secondary mb-2">
          {% translate "Zpět na seznam příjemek" %}
        </button></a
      >
      <a href="{% url 'kitchen:approveStockReceipt' stockreceipt.id %}"
        ><button class="btn btn-success mb-2">{% translate "Naskladnit" %}</button></a
      >
      <a
        href="{% url 'kitchen:createStockReceiptArticle' stockreceipt.id %}"
        class="btn btn-primary mb-2"
        >{% translate "Přidat zboží" %}</a
      >
      {% translate "Poznámka:" %} {{stockreceipt.comment}}
    </div>
  </div>
  {% render_table table %}
</div>
{% endblock content %}
