{% extends "../pdf_page.html" %}
{% block content %}
  Vytvořena dne: {{ stock_receipt.created }}<br/>
  Vytvořila: {{stock_receipt.userCreated.name}}<br/>
  Počet položek: {{ items.count }}<br/>
  Poznámka: {{ stock_receipt.comment }}<br/>
  <br/>
  <br/>
    <table class="minimalistBlack">
    <thead>
      <tr>
        <th>Zboží</th>
        <th>Množství</th>
        <th>Cena bez DPH</th>
        <th>DPH</th>
        <th>Cena s DPH</th>
        <th>Poznámka</th>
      </tr>
      </thead>
      <tbody>
      {% for item in items %}
      <tr>
        <td>{{item.article}}</td>
        <td>{{item.amount}} {{item.unit}}</td>
        <td>{{item.priceWithoutVat}} Kč</td>
        <td>{{item.vat}}</td>
        <td>{{item.price_with_vat}} Kč</td>
        <td>{{item.comment}}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
{% endblock %}
