{% extends "../pdf_page.html" %}
{% load humanize %}
{% load static i18n %}
{% block content %}
<table class="table w-auto">
  <thead>
    <tr>
      <th scope="col">{% trans "Celková cena s DPH" %}</th>
      <th scope="col">{% trans "Počet zboží" %}</th>
      <th scope="col">{% trans "Vytvořena dne" %}</th>
      <th scope="col">{% trans "Vytvořila" %}</th>
      <th scope="col">{% trans "Schválena dne" %}</th>
      <th scope="col">{% trans "Schválila" %}</th>
      <th scope="col">{% trans "Poznámka" %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ total_price|intcomma }} {% trans "Kč" %}</th>
      <td>{{ stock_receipt_articles.count }}</td>
      <td>{{ stock_receipt.created }}</td>
      <td>{{ stock_receipt.user_created.name }}</td>
      <td>{{ stock_receipt.date_approved }}</td>
      <td>{{ stock_receipt.user_approved.name }}</td>
      <td>{{ stock_receipt.comment }}</td>
    </tr>
  </tbody>
</table>
<h2 class="text-center mt-4">{% trans "Naskladněné zboží" %}</h2>
<table class="table w-auto">
  <thead>
    <tr>
      <th scope="col">{% trans "Zboží" %}</th>
      <th scope="col">{% trans "Množství" %}</th>
      <th scope="col">{% trans "Jednotková cena bez DPH" %}</th>
      <th scope="col">{% trans "DPH" %}</th>
      <th scope="col">{% trans "Jednotková cena s DPH" %}</th>
      <th scope="col">{% trans "Celková cena s DPH" %}</th>
      <th scope="col">{% trans "Poznámka" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for stock_receipt_article in stock_receipt_articles %}
    <tr>
      <th scope="row">{{ stock_receipt_article.article }}</th>
      <td>
        {{ stock_receipt_article.amount }} {{ stock_receipt_article.unit }}
      </td>
      <td>{{ stock_receipt_article.price_without_vat|intcomma }} {% trans "Kč" %}</td>
      <td>{{ stock_receipt_article.vat }}</td>
      <td>{{ stock_receipt_article.price_with_vat|intcomma }} {% trans "Kč" %}</td>
      <td>{{ stock_receipt_article.total_price_with_vat|intcomma }} {% trans "Kč" %}</td>
      <td>{{ stock_receipt_article.comment }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
