{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
  <h4>Aktualizace položky příjemky</h4>
  <hr/>
  <div class="row">
    <div class="col-8 justify-content-start d-inline">
      <a href="#" class="btn btn-primary mb-2">Tisk příjemky</a>
      Příjemka vytvořena dne: {{stockreceipt.created}}, Vytvořila: {{stockreceipt.userCreated.name}}, Poznámka: {{stockreceipt.comment}}
    </div>
  </div>
  <hr/>
  <form method="post" action="{% url 'kitchen:updateStockReceiptItem' stockreceipt.id %}">
    {% csrf_token %}
    {% crispy form form.helper %}
    <button class="btn btn-secondary" onclick="javascript:history.back();">Zpět</button>
    <button type="submit" class="btn btn-success">Uložit</button>
  </form>
</div>

{% endblock content %}
