<div class="nutrition-facts{% if is_total %} nutrition-facts--total{% endif %}">
  <div class="nutrition-facts__grid">
    {% for column in columns %}
      <div class="nutrition-facts__column">
        {% for group in column %}
          <dl class="nutrition-facts__group">
            <div class="nutrition-facts__metric">
              <dt>{{ group.parent.label }}</dt>
              <dd>{{ group.parent.value }} <span>{{ group.parent.unit }}</span></dd>
            </div>
            {% for item in group.children %}
              <div class="nutrition-facts__metric nutrition-facts__metric--child">
                <dt>{{ item.label }}</dt>
                <dd>{{ item.value }} <span>{{ item.unit }}</span></dd>
              </div>
            {% endfor %}
          </dl>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>