{% extends "base.html" %} 
{% load crispy_forms_tags static i18n %} 
{% block content %}
<div class="container-fluid">
  <h4>
    {% blocktranslate trimmed with recipe_name=recipe_article_before.recipe.recipe portions=recipe_article_before.recipe.norm_amount %}
      Chcete odstranit zboží v receptu {{ recipe_name }}, {{ portions }} porcí?
    {% endblocktranslate %}
  </h4>
  <hr />
  <p>
    <a href="{% url 'kitchen:showRecipeArticles' object.recipe.id %}">
      <button class="btn btn-secondary">{% translate "Zpět recept" %}</button>
    </a>
  </p>
  <form method="post" action="{% url 'kitchen:deleteRecipeArticle' pk=object.id %}">
    {% csrf_token %} 
    {{ form|crispy }}
    <ul>
      <li>
        {% blocktranslate trimmed with article=object.article %}Zboží: {{ article }}{% endblocktranslate %}
      </li>
      <li>
        {% blocktranslate trimmed with amount=object.amount unit=object.unit %}Množství: {{ amount }} {{ unit }}{% endblocktranslate %}
      </li>
    </ul>
    <button type="submit" class="btn btn-success">{% translate "Odstranit" %}</button>
  </form>
</div>
{% endblock content %}
