{% extends "base.html" %}
{% load crispy_forms_tags static i18n %}
{% block content %}
<div class="container-fluid">
  <h4>{% trans "Odstranění receptu" %}</h4>
  <hr/>
  <p><a href="{% url 'kitchen:showRecipes' %}"><button class="btn btn-secondary">{% trans "Zpět na seznam receptů" %}</button></a></p>
  <form method="post" action="{% url 'kitchen:deleteRecipe' pk=object.id %}">
    {% csrf_token %}
    {{ form|crispy }}
    <p>{% trans "Chcete odstranit recept:" %}</p>
    <ul>
      <li>
        {% blocktrans with recipe=object.recipe %}Název: {{ recipe }}{% endblocktrans %}
      </li>
      <li>
        {% blocktrans with created=object.created %}Vytvořen dne: {{ created }}{% endblocktrans %}
      </li>
      <li>
        {% blocktrans with portions=object.norm_amount %}Počet porcí: {{ portions }}{% endblocktrans %}
      </li>
      <li>
        {% blocktrans with procedure=object.procedure %}Postup: {{ procedure }}{% endblocktrans %}
      </li>
    </ul>
    <button type="submit" class="btn btn-success">{% trans "Odstranit" %}</button>
  </form>
</div>
{% endblock content %}
