{% extends "../pdf_page.html" %}
{% block content %}
  <table class="minimalistBlack">
    <thead>
      <tr>
        <th>Počet porcí</th>
        <th>Cena receptu</th>
        <th>Komentář</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{recipe.norm_amount}}</td>
        <td>{{recipe.recipePrice}} Kč</td>
        <td>{{recipe.comment}}</td>
      </tr>
    </tbody>
  </table>

  <h2>Seznam ingrediencí</h2>
  <table class="minimalistBlack">
    <thead>
      <tr>
        <th>Zboží</th>
        <th>Množství</th>
        <th>Komentář</th>
      </tr>
    </thead>
    <tbody>
      {% for ingredient in ingredients %}
      <tr>
        <td>{{ingredient.article}}</td>
        <td>{{ingredient.amount}} {{ingredient.unit}}</td>
        <td>{{ingredient.comment}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
