{% extends "../pdf_page.html" %}
{% load humanize %}
{% block content %}
<table class="table table-sm w-auto">
  <thead>
    <tr>
      <th scope="col">Porcí</th>
      <th scope="col">Cena receptu</th>
      <th scope="col">Komentář</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{recipe.norm_amount}}</th>
      <td>{{recipe.total_recipe_articles_price|intcomma}} Kč</td>
      <td>{{recipe.comment}}</td>
    </td>
  </tbody>
</table>

<h2>Seznam ingrediencí</h2>
<table class="table table-sm table-sm w-auto">
  <thead>
    <tr>
      <th scope="col">Zboží</th>
      <th scope="col">Množství</th>
      <th scope="col">Průměrná jednotková cena s DPH</th>
      <th scope="col">Celková cena s DPH</th>
      <th scope="col">Komentář</th>
    </tr>
  </thead>
  {% for recipe_article in recipe_articles %}
  <tbody>
    <tr>
      <th scope="row">{{recipe_article.article}}</th>
      <td>{{recipe_article.amount}} {{recipe_article.unit}}</td>
      <td>{{recipe_article.article.average_price|intcomma}}} Kč</td>
      <td>{{recipe_article.total_average_price|intcomma}} Kč</td>
      <td>{{recipe_article.comment}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}
