{% extends "../pdf_page.html" %}
{% load humanize static i18n %}
{% block content %}
<table class="table table-sm w-auto">
  <thead>
    <tr>
      <th scope="col">{% translate "Porcí" %}</th>
      <th scope="col">{% translate "Cena receptu" %}</th>
      <th scope="col">{% translate "Komentář" %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{recipe.norm_amount}}</th>
      <td>{{recipe.total_recipe_articles_price|intcomma}} {{ CURRENCY }}</td>
      <td>{{recipe.comment}}</td>
    </tr>
  </tbody>
</table>

<h2>{% translate "Seznam ingrediencí" %}</h2>
<table class="table table-sm w-auto">
  <thead>
    <tr>
      <th scope="col">{% translate "Zboží" %}</th>
      <th scope="col">{% translate "Množství" %}</th>
      <th scope="col">{% translate "Průměrná jednotková cena s DPH" %}</th>
      <th scope="col">{% translate "Celková cena s DPH" %}</th>
      <th scope="col">{% translate "Komentář" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for recipe_article in recipe_articles %}
    <tr>
      <th scope="row">{{recipe_article.article}}</th>
      <td>{{recipe_article.amount}} {{recipe_article.unit}}</td>
      <td>{{recipe_article.article.average_price|intcomma}}{{ CURRENCY }}</td>
      <td>{{recipe_article.total_average_price|intcomma}} {{ CURRENCY }}</td>
      <td>{{recipe_article.comment}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
