{% extends "../pdf_page.html" %}
{% load static i18n %}
{% block content %}
<p class="text-center">
  {% blocktrans with total=recipes_total %}Receptů celkem: {{ total }}{% endblocktrans %}
</p>
  <table class="table w-auto">
    <thead>
      <tr>
        <th scope="col">{% trans "Recept" %}</th>
        <th scope="col">{% trans "Počet porcí" %}</th>
        <th scope="col">{% trans "Komentář" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for recipe in recipes %}
      <tr>
        <th scope="row">{{ recipe.recipe }}</th>
        <td>{{ recipe.norm_amount }}</td>
        <td>{{ recipe.comment }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
