{% extends "../pdf_page.html" %}
{% block content %}
<p>Receptů celkem: {{recipes_total}}</p>
  <table class="table table-sm w-auto">
    <thead>
      <tr>
        <th scope="col">Recept</th>
        <th scope="col">Počet porcí</th>
        <th scope="col">Komentář</th>
      </tr>
    </thead>
    {% for recipe in recipes %}
    <tbody>
      <tr>
        <th scope="row">{{recipe.recipe}}</th>
        <td>{{recipe.norm_amount}}</td>
        <td>{{recipe.comment}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
{% endblock %}
