{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
  <h4>Aktualizace zboží v receptu</h4>
  <hr/>
  <div class="row">
    <div class="col-8 justify-content-start d-inline">
      <a href="{% url 'kitchen:showRecipeIngredients' ingredient.recipe.id %}"><button class="btn btn-secondary">Zpět na recept</button></a>
      <b>Recept:</b> {{ingredient_before.recipe.recipe}}, <b>Počet jídel:</b> {{ingredient_before.recipe.norm_amount}}
    </div>
  </div>
  <br/>
  <form method="post" action="{% url 'kitchen:updateRecipeIngredient' ingredient_before.id %}">
    {% csrf_token %}
    {% crispy form form.helper %}
    <button type="submit" class="btn btn-success">Uložit</button>
  </form>
</div>
{% endblock content %}
