{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="container-fluid">
  <h4>Aktualizace zboží v receptu {{recipe_article_before.recipe.recipe}}, {{recipe_article_before.recipe.norm_amount}} porcí</h4>
  <hr />
  <div class="row">
    <div class="col-8 justify-content-start d-inline">
      <a href="{% url 'kitchen:showRecipeArticles' recipe_article_before.id %}"
        ><button class="btn btn-secondary">Zpět na recept</button></a
      >
    </div>
  </div>
  <br />
  <form
    method="post"
    action="{% url 'kitchen:updateRecipeArticle' recipe_article_before.id %}"
  >
    {% csrf_token %} {% crispy form form.helper %}
    <button type="submit" class="btn btn-success">Uložit</button>
  </form>
</div>
{% endblock content %}
