{% extends "base.html" %}
{% load crispy_forms_tags static i18n %}
{% block content %}
  <div class="container-fluid">
    <h4>{% trans "Odstranění receptu z denního menu" %}</h4>
    <hr/>
    <p><a href="{% url 'kitchen:showDailyMenuRecipes' dailymenurecipe_before.daily_menu.id%}"><button class="btn btn-secondary">{% trans "Zpět na seznam receptů" %}</button></a>
    <form method="post" action="{% url 'kitchen:deleteDailyMenuRecipe' pk=object.id %}">
      {% csrf_token %}
      {{ form|crispy }}
      <p>{% blocktrans %}Chcete odstranit recept <b>{{object.recipe}}</b> z denního menu?{% endblocktrans %}</p>
      {% trans "Menu:" %}
      <ul>
        <li><b>{% trans "Den:" %}</b> {{ object.daily_menu.date }}</li>
        <li><b>{% trans "Skupina strávníků:" %}</b> {{object.daily_menu.meal_group}}</li>
        <li><b>{% trans "Typ jídla:" %}</b> {{object.daily_menu.meal_type}}</li>
        <li><b>{% trans "Poznámka:" %}</b> {{ object.daily_menu.comment }}</li>
      </ul>
      <button type="submit" class="btn btn-success">{% trans "Odstranit" %}</button>
    </form>
  </div>
{% endblock content %}
