{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags static i18n %}
{% block content %}
<div class="container-fluid">
  <h4>{% blocktrans %}Seznam receptů na {{dailymenu.date}}, {{dailymenu.meal_type}} pro {{dailymenu.meal_group}}{% endblocktrans %}</h4>
  <hr/>
  <div class="row">
    <div class="col-8 justify-content-start d-inline">
      <a href="{% url 'kitchen:showDailyMenus' %}" class="btn btn-secondary mb-2">{% trans "Zpět na seznam denních menu" %}</a>
      <a href="{% url 'kitchen:createDailyMenuRecipe' dailymenu.id %}" class="btn btn-primary mb-2">{% trans "Přidat recept" %}</a>
      {% trans "Poznámka:" %} {{dailymenu.comment}}
    </div>
  </div>
  {% render_table table %}
</div>
{% endblock content %}
