{% extends "../pdf_page.html" %}
{% load static i18n %}
{% block content %}
<p class="text-center">{{ meal_group_filter }}</p>
<table class="table table-sm w-auto">
  <thead>
    <tr>
      <th scope="col">{% translate "Skupina strávníka" %}</th>
      <th scope="col">{% translate "Druh jídla" %}</th>
      <th scope="col">{% translate "Recept" %}</th>
      <th scope="col">{% translate "Počet porcí" %}</th>
      </tr>
  </thead>
  <tbody>
  {% for recipe in daily_menu_recipes %}
    <tr>
      <th scope="row">{{ recipe.daily_menu.meal_group }}</th>
      <td>{{ recipe.daily_menu.meal_type }}</td>
      <td>{{ recipe.recipe }}</td>
      <td>{{ recipe.amount }}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
