{% extends "base.html" %}
{% load humanize %}
{% load crispy_forms_tags static i18n %}
{% block content %}
<div class="container-fluid">
  <h4>{% trans "Chcete vyskladnit výdejku?" %}</h4>
  <hr/>
  <p><a href="{% url 'kitchen:showStockIssues' %}"><button class="btn btn-secondary">{% trans "Zpět na seznam výdejek" %}</button></a>
  <form method="post" action="{% url 'kitchen:approveStockIssue' stock_issue.id %}">
    {% csrf_token %}
    {{ form|crispy }}
   <table class="table">
      <thead>
        <tr>
          <th>{% trans "Celková cena s DPH" %}</th>
          <th>{% trans "Počet vyskladňovaného zboží" %}</th>
          <th>{% trans "Vytvořena dne" %}</th>
          <th>{% trans "Vytvořila" %}</th>
          <th>{% trans "Poznámka" %}</th>
        </tr>
      </thead>
      <tbody>
        <td>{{ total_price|intcomma }} {{ CURRENCY }}</td>
        <td>{{ stock_issue_articles.count }}</td>
        <td>{{ stock_issue.created }}</td>
        <td>{{ stock_issue.user_created.name }}</td>
        <td>{{ stock_issue.comment }}</td>
      </tbody>
    </table>
     <button type="submit" class="btn btn-success">{% trans "Vyskladnit" %}</button></p>
  </form>
  <hr/>
  <h5>{% trans "Seznam zboží" %}</h5>
  <br/>
  <table class="table">
    <thead>
      <tr>
        <th>{% trans "Zboží" %}</th>
        <th>{% trans "Množství" %}</th>
        <th>{% trans "Průměrná cena s DPH" %}</th>
        <th>{% trans "Celková cena s DPH" %}</th>
        <th>{% trans "Poznámka" %}</th>
      </tr>
      </thead>
      <tbody>
      {% for stock_issue_article in stock_issue_articles %}
      <tr>
        <td>{{stock_issue_article.article}}</td>
        <td>{{stock_issue_article.amount}} {{stock_issue_article.unit}}</td>
        <td>{{ stock_issue_article.article.average_price|intcomma }} {{ CURRENCY }}</td>
        <td>{{ stock_issue_article.total_average_price_with_vat|intcomma }}{{ CURRENCY }}</td>
        <td>{{stock_issue_article.comment}}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
{% endblock content %}
