{% extends "base.html" %} 
{% load crispy_forms_tags static i18n %} 
{% block content %}
<div class="container-fluid">
  <h4>{% trans "Přidat zboží na výdejku" %}</h4>
  <hr />
  <p>
    <a href="{% url 'kitchen:showStockIssueArticles' stockissue.id %}">
      <button class="btn btn-secondary">
        {% trans "Zpět na seznam zboží výdejky" %}
      </button>
    </a>
  </p>
  <form method="post" action="{% url 'kitchen:createStockIssueArticle' stockissue.id %}">
    {% csrf_token %}
    {% crispy form form.helper %}
    <button type="submit" class="btn btn-success">{% trans "Uložit" %}</button>
  </form>
</div>
{% endblock content %}
