{% extends "base.html" %}
{% load humanize %}
{% load crispy_forms_tags static i18n %}
{% block content %}
<div class="container-fluid">
  <h4>{% trans "Odstranění zboží z výdejky" %}</h4>
  <hr />
  <p>
    <a href="{% url 'kitchen:showStockIssueArticles' object.stock_issue.id %}">
      <button class="btn btn-secondary">
        {% trans "Zpět na seznam zboží výdejky" %}
      </button>
    </a>
  </p>
  <form method="post" action="{% url 'kitchen:deleteStockIssueArticle' pk=object.id %}">
    {% csrf_token %}
    {{ form|crispy }}
    <p>{% trans "Chcete odstranit zboží z výdejky:" %}</p>
    <ul>
      <li>
        {% blocktrans with article=object.article %}Zboží: {{ article }}{% endblocktrans %}
      </li>
      <li>
        {% blocktrans with price=object.price_without_vat|intcomma %}Cena bez DPH: {{ price }} Kč{% endblocktrans %}
      </li>
      <li>
        {% blocktrans with comment=object.comment %}Poznámka: {{ comment }}{% endblocktrans %}
      </li>
    </ul>
    <button type="submit" class="btn btn-success">{% trans "Odstranit" %}</button>
  </form>
</div>
{% endblock content %}
