{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
  <h4>Seznam zboží na výdejce</h4>
  <hr/>
  <div class="row">
    <div class="col-8 justify-content-start d-inline">
      <a href="{% url 'kitchen:showStockIssues' %}"><button class="btn btn-secondary">Zpět na seznam výdejek</button></a>
      <a href="{% url 'kitchen:createStockIssueItem' stockissue.id %}" class="btn btn-primary">Nové zboží</a>
      <b>Výdejka vytvořena dne:</b> {{stockissue.created}} <b>Vytvořila:</b> {{stockissue.userCreated.name}} <b>Poznámka:</b> {{stockissue.comment}}
    </div>
    {% if filter %}
      <form method="get" action="" class="col-4 justify-content-end form-inline mb-2">
        {% csrf_token %}
        {{ filter.form | crispy }}
        <button type="submit" class="btn btn-success mx-2">Vyhledat</button>
      </form>
    {% endif %}
  </div>
  {% render_table table %}
</div>
{% endblock content %}
