{% extends "../pdf_page.html" %}
{% load humanize static i18n %}
{% block content %}
<table class="table table-sm w-auto">
  <thead>
    <tr>
      <th scope="col">{% translate "Celková cena s DPH" %}</th>
      <th scope="col">{% translate "Počet vyskladňovaného zboží" %}</th>
      <th scope="col">{% translate "Vytvořena dne" %}</th>
      <th scope="col">{% translate "Vytvořila" %}</th>
      <th scope="col">{% translate "Schválena dne" %}</th>
      <th scope="col">{% translate "Schválila" %}</th>
      <th scope="col">{% translate "Poznámka" %}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ total_price|intcomma }} {{ CURRENCY }}</th>
      <td>{{ stock_issue_articles.count }}</td>
      <td>{{ stock_issue.created }}</td>
      <td>{{ stock_issue.user_created.name }}</td>
      <td>{{ stock_issue.date_approved }}</td>
      <td>{{ stock_issue.user_approved.name }}</td>
      <td>{{ stock_issue.comment }}</td>
    </tr>
  </tbody>
</table>
<h2 class="text-center mt-4">{% translate "Vyskladněné zboží" %}</h2>
<table class="table table-sm w-auto">
  <thead>
    <tr>
      <th scope="col">{% translate "Zboží" %}</th>
      <th scope="col">{% translate "Množství" %}</th>
      <th scope="col">{% translate "Jednotková cena s DPH" %}</th>
      <th scope="col">{% translate "Cena celkem s DPH" %}</th>
      <th scope="col">{% translate "Poznámka" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for stock_issue_article in stock_issue_articles %}
    <tr>
      <th scope="row">{{ stock_issue_article.article }}</th>
      <td>{{ stock_issue_article.amount }} {{ stock_issue_article.unit }}</td>
      <td>{{ stock_issue_article.average_unit_price|intcomma }} {{ CURRENCY }}</td>
      <td>{{ stock_issue_article.total_average_price_with_vat|intcomma }} {{ CURRENCY }}</td>
      <td>{{ stock_issue_article.comment }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
