{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
  <h4>Aktualizace zboží na výdejce</h4>
  <hr/>
  <div class="row">
    <div class="col-8 justify-content-start d-inline">
      <a href="{% url 'kitchen:showStockIssueItems' item_before.stockIssue.id %}"><button class="btn btn-secondary">Zpět na seznam zboží výdejky</button></a>
      <a href="{% url 'kitchen:printStockIssue' item_before.stockIssue.id %}" class="btn btn-primary">Tisk výdejky</a>
      <b>Výdejka vytvořena dne:</b> {{item_before.stockIssue.created}}, <b>Vytvořila:</b> {{item_before.stockIssue.userCreated.name}}, <b>Poznámka:</b> {{item_before.stockIssue.comment}}
    </div>
  </div>
  <br/>
  <form method="post" action="{% url 'kitchen:updateStockIssueItem' item_before.id %}">
    {% csrf_token %}
    {% crispy form form.helper %}
    <button type="submit" class="btn btn-success">Uložit</button>
  </form>
</div>
{% endblock content %}
