{% extends "base.html" %}

{% block content %}

<h1>Kitchen Cooking Management</h1>

<p>Popis aplikace</p>

<h2>Uživatelské skupiny</h2>
<ul>
  <table class="table table-responsive table-sm">
    <thead class="thead-light">
      <tr>
        <th>Skupina</th>
        <th>Oprávnění</th>
      </tr>
    </thead>
    <tr>
      <th>Chef - šéfkuchař</th>
      <td>Administrátor<br/>Správce skupin i uživatelů<br/>Správce všech číselníků: alergény, DPH, druhy jídla, jednotky, skupinu strávníků</td>
    </tr>
    <tr>
      <th>Cook - kuchař</th>
      <td>Tvorba jídelníčku a tisky kalkulací</td>
    </tr>
    <tr>
      <th>Stockkeeper - skladník</th>
      <td>Správa skladu: zadávání příjemek, schvalování nebo přímo vystavění výdejky</td>
    </tr>
  </table>
</ul>
{% endblock content %}
