{% extends "base.html" %}
{% load humanize static i18n %}
{% block content %}
<div class="container-fluid">
  <h4>
    {% blocktranslate trimmed with article=object.article %}Odstranění skladové karty: {{ article }}{% endblocktranslate %}
  </h4>
  <hr/>
  <p><a href="{% url 'kitchen:showArticles' %}"><button class="btn btn-secondary">{% translate "Zpět na seznam skladových karet" %}</button></a></p>

  {% if recipe_articles %}
  <p>
    {% blocktranslate trimmed with count=recipe_articles|length %}
      Zboží je použité na {{ count }} receptech.<br/>
      Vymazat půjde až když nebude na žádném receptu. Odstraňte jej z výše uvedených receptů, nebo jestli je to ok, odstraňte přímo recepty.
    {% endblocktranslate %}
  </p>
  <ol>
  {% for recipe_article in recipe_articles %}
    <li><a href="{% url 'kitchen:showRecipeArticles' pk=recipe_article.recipe.id %}">{{ recipe_article.recipe }}</a><br/></li>
  {% endfor %}
  </ol>
  {% else %}
  <form method="post" action="{% url 'kitchen:deleteArticle' pk=object.id %}">
    {% csrf_token %}
    <p>{% translate "Chcete odstranit skladovou kartu:" %}</p>
    <ul>
      <li>
        {% blocktranslate trimmed with article=object.article %}Název: {{ article }}{% endblocktranslate %}
      </li>
      <li>
        {% blocktranslate trimmed with stock=object.on_stock|intcomma unit=object.unit %}Na skladu: {{ stock }} {{ unit }}{% endblocktranslate %}
      </li>
      <li>
        {% blocktranslate trimmed with total_price=object.total_price|intcomma %}Celková cena: {{ total_price }} {{ CURRENCY }}{% endblocktranslate %}
      </li>
    </ul>
    <button type="submit" class="btn btn-success">{% translate "Odstranit" %}</button>
  </form>
  {% endif %}

</div>
{% endblock content %}
