{% extends "base.html" %}
{% load humanize static i18n %}
{% block content %}
<div class="container-fluid">
  <h4>{% blocktrans %}Odstranění skladové karty: {{ object.article }}{% endblocktrans %}</h4>
  <hr/>
  <p><a href="{% url 'kitchen:showArticles' %}"><button class="btn btn-secondary">{% trans "Zpět na seznam skladových karet" %}</button></a></p>

  {% if recipe_articles %}
  <p>{% blocktrans %}Zboží je použité na {{ recipe_articles | length }} receptech.<br/>
  Vymazat půjde až když nebude na žádném receptu. Odstraňte jej z výše uvedených receptů, nebo jestli je to ok, odstraňte přímo recepty.{% endblocktrans %}</p>
  <ol>
  {% for recipe_article in recipe_articles %}
    <li><a href="{% url 'kitchen:showRecipeArticles' pk=recipe_article.recipe.id %}">{{ recipe_article.recipe }}</a><br/></li>
  {% endfor %}
  </ol>
  {% else %}
  <form method="post" action="{% url 'kitchen:deleteArticle' pk=object.id %}">
    {% csrf_token %}
    <p>{% trans "Chcete odstranit skladovou kartu:" %}</p>
    <ul>
      <li>{% blocktrans %}Název: {{ object.article }}{% endblocktrans %}</li>
      <li>{% blocktrans %}Na skladu: {{ object.on_stock | intcomma }} {{ object.unit }}{% endblocktrans %}</li>
      <li>{% blocktrans %}Celková cena: {{ object.total_price | intcomma }} Kč{% endblocktrans %}</li>
    </ul>
    <button type="submit" class="btn btn-success">{% trans "Odstranit" %}</button>
  </form>
  {% endif %}

</div>
{% endblock content %}
