{% extends "base.html" %}
{% load humanize %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% block content %}
<div class="container-fluid">
  <h4>{% trans "Seznam zboží na skladu" %}</h4>
  <hr/>
  <div class="row align-items-center">
    <div class="col-auto">
      <a href="{% url 'kitchen:printArticles' %}" class="btn btn-secondary mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
          <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
        </svg>
        PDF</a>
      <span class="mx-4 mb-2">{% trans "Celková cena zboží na skladu s DPH:"%} {{ total_stock_price|intcomma }} Kč</span>
      {% include 'kitchen/partials/_filter_section.html' %}
    </div>
  </div>
  {% render_table table %}
</div>
{% endblock content %}
