{% extends "base.html" %}
{% load humanize %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
  <h4>Seznam zboží na skladu</h4>
  <hr/>
  <div class="row align-items-center">
    <div class="col-auto">
      <a href="{% url 'kitchen:printArticles' %}" class="btn btn-secondary mb-2">PDF - seznam zboží</a>
      <span class="mx-4 mb-2">Celková cena zboží na skladu s DPH: {{ total_stock_price|intcomma }} Kč</span>
      {% include 'kitchen/partials/_filter_section.html' %}
    </div>
  </div>
  {% render_table table %}
</div>
{% endblock content %}
