{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags static i18n %}
{% block content %}
<div class="container-fluid">
  <h4>{% translate "Seznam zboží vyžadující naskladnění" %}</h4>
  <hr/>
  <p><a href="{% url 'kitchen:showArticles' %}"><button class="btn btn-secondary">{% translate "Zpět na seznam zboží" %}</button></a>
  {% translate "Stav na skladu je nižší, než minimální požadovaná výše." %}
  </p>
  {% render_table table %}
{% endblock content %}
