{% extends "../pdf_page.html" %}
{% load humanize %}
{% block content %}
<div class="text-center mb-4">Celková cena zboží na skladu s DPH: {{ total_stock_price|intcomma }} Kč</div>
  <table class="table w-auto">
    <thead>
      <tr>
        <th scope="col">Zboží</th>
        <th scope="col">Na skladu</th>
        <th scope="col">Minimálně na skladu</th>
        <th scope="col">Průměrná jednotková cena s DPH</th>
        <th scope="col">Celková cena s DPH</th>
      </tr>
    </thead>
    <tbody>
    {% for article in articles %}
      <tr>
        <td scope="row" class="text-start">{{article.article}}</td>
        <td>{{article.on_stock}} {{article.unit}}</td>
        <td>{{article.min_on_stock}} {{article.unit}}</td>
        <td>{{article.average_price|intcomma}} Kč / {{article.unit}}</td>
        <td>{{article.total_price}} Kč</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
