{% extends "../pdf_page.html" %}
{% load humanize %}
{% block content %}
<p>Celková cena zboží na skladu s DPH: {{ total_stock_price|intcomma }} Kč</p>
  <table class="table table-sm w-auto">
    <thead>
      <tr>
        <th scope="col">Zboží</th>
        <th scope="col">Na skladu</th>
        <th scope="col">Minimálně na skladu</th>
        <th scope="col">Průměrná jednotková cena s DPH</th>
        <th scope="col">Celková cena s DPH</th>
      </tr>
    </thead>
    {% for article in articles %}
    <tbody>
      <tr>
        <th scope="row">{{article.article}}</th>
        <td>{{article.on_stock}} {{article.unit}}</td>
        <td>{{article.min_on_stock}} {{article.unit}}</td>
        <td>{{article.average_price|intcomma}} Kč / {{article.unit}}</td>
        <td>{{article.total_price}} Kč</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
{% endblock %}
