{% extends "../pdf_page.html" %} {% block content %}
<div class="rTable">
  <div class="rTableRow">
    <div class="rTableHead">Zboží</div>
    <div class="rTableHead">Jednotka</div>
    <div class="rTableHead">Skutečný stav na skladu</div>
    <div class="rTableHead">Poznámka</div>
  </div>
  {% for article in articles %}
  <div class="rTableRow">
    <div class="rTableCell">{{article.article}}</div>
    <div class="rTableCell">{{article.unit}}</div>
    <div class="rTableCell"></div>
    <div class="rTableCell"></div>
  </div>
  {% endfor %}
</div>
{% endblock %}
