{% extends "base.html" %}
{% load crispy_forms_tags static i18n %}
{% block content %}
<div class="container-fluid">
  <h4>
    {% blocktranslate trimmed with menu=object.menu %}Odstranění menu: {{ menu }}{% endblocktranslate %}
  </h4>
  <hr/>
  <p><a href="{% url 'kitchen:showMenus' %}" class="btn btn-secondary mb-2">{% translate "Zpět na seznam menu" %}</a></p>
  <form method="post" action="{% url 'kitchen:deleteMenu' pk=object.id %}">
    {% csrf_token %}
    {{ form|crispy }}
    <p>
      {% blocktranslate trimmed with menu=object.menu %}Skutečně odstranit menu: {{ menu }}?{% endblocktranslate %}
    </p>
    <button type="submit" class="btn btn-success">{% translate "Odstranit" %}</button>
  </form>
</div>
{% endblock content %}
