{% extends "base.html" %}
{% load crispy_forms_tags static i18n %}
{% block content %}
<div class="container-fluid">
  <h4>{% blocktrans %}Odstranění menu: {{object.menu}}{% endblocktrans %}</h4>
  <hr/>
  <p><a href="{% url 'kitchen:showMenus'%}" class="btn btn-secondary mb-2">{% trans "Zpět na seznam menu" %}</a></p>
  <form method="post" action="{% url 'kitchen:deleteMenu' pk=object.id %}">
    {% csrf_token %}
    {{ form|crispy }}
    <p>{% blocktrans %}Skutečně odstranit menu: {{object.menu}}?{% endblocktrans %}</p>
    <button type="submit" class="btn btn-success">{% trans "Odstranit" %}</button></p>
  </form>
</div>
{% endblock content %}
