{% extends "base.html" %}
{% load crispy_forms_tags static i18n %}
{% block content %}
  <div class="container-fluid">
    <h4>
      {% blocktranslate trimmed with menu=object.menu.menu %}Odstranění receptu z menu: {{ menu }}{% endblocktranslate %}
    </h4>
    <hr/>
    <p><a href="{% url 'kitchen:showMenuRecipes' menurecipe_before.menu.id %}">
      <button class="btn btn-secondary">{% translate "Zpět na seznam receptů" %}</button></a>
    <form method="post" action="{% url 'kitchen:deleteMenuRecipe' pk=object.id %}">
      {% csrf_token %}
      {{ form|crispy }}
      <p>
        {% blocktranslate trimmed with recipe=object.recipe %}Chcete odstranit recept <b>{{ recipe }}</b>?{% endblocktranslate %}
      </p>
      <button type="submit" class="btn btn-success">{% translate "Odstranit" %}</button>
    </form>
  </div>
{% endblock content %}
