{% extends "../pdf_page.html" %} {% block content %}
<table class="table table-sm w-auto">
  <thead>
    <tr>
      <th scope="col">Zboží</th>
      <th scope="col">Jednotka</th>
      <th scope="col">Skutečný stav na skladu</th>
      <th scope="col">Poznámka</th>
    </tr>
  </thead>
  <tbody>
  {% for article in articles %}
    <tr>
      <th scope="row">{{article.article}}</th>
      <td class="rTableCell">{{article.unit}}</td>
      <td class="rTableCell"></td>
      <td class="rTableCell"></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
