{% extends "../pdf_page.html" %}
{% load static i18n %}
{% block content %}
<table class="table w-auto">
  <thead>
    <tr>
      <th scope="col">{% trans "Zboží" %}</th>
      <th scope="col">{% trans "Jednotka" %}</th>
      <th scope="col">{% trans "Skutečný stav na skladu" %}</th>
      <th scope="col">{% trans "Poznámka" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for article in articles %}
    <tr>
      <th scope="row">{{article.article}}</th>
      <td class="rTableCell">{{article.unit}}</td>
      <td class="rTableCell"></td>
      <td class="rTableCell"></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
