{% load static i18n %}

{% trans "KiCoMa je špičkový program určený pro efektivní správu skladu potravin, receptů a menu. S naším programem bude vaše kuchyně fungovat jako hodinky. Pojďte se podívat, jak vám KiCoMa může pomoci:" %}<br/>
<br/>
<ul>
    <li>{% blocktrans %}<b>Snadné plánování</b>: Výživová poradkyně jednoduše naplánuje recepty a denní menu.{% endblocktrans %}</li>
    <li>{% blocktrans %}<b>Bezproblémové vaření</b>: Kuchyně vaří přesně podle denního menu, bez stresu a zmatků.{% endblocktrans %}</li>
    <li>{% blocktrans %}<b>Perfektní synchronizace</b>: Recepty a menu jsou propojené se skladem potravin, což znamená, že vždy víte, co máte na skladě.{% endblocktrans %}</li>
    <li>{% blocktrans %}<b>Aktuální stav skladu</b>: Stav skladu se automaticky mění pomocí příjemek a výdejek sestavených podle vydávaných jídel, nebo jednorázovou inventurou.{% endblocktrans %}</li>
    <li>{% blocktrans %}<b>Jednoduché reporty</b>: Vytvářejte přehledné reporty jedním kliknutím. Program je intuitivní a snadno ovladatelný, s nápovědou a podrobným popisem funkcí.{% endblocktrans %}</li>
</ul>