{% extends "base.html" %}
{% load static i18n %}
{% block content %}
<h4>
  {% blocktrans with username=request.user.name %}
    {{ username }}, vítej zpět v KiCoMa
  {% endblocktrans %}
</h4>
<hr />
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h5>{% trans "Novinky" %}</h5>
      27. 9. 2025
      <ul>
        <li>{% trans "Seznam denních menu řazen dle data." %}</li>
        <li>{% trans "Možnost přidat recept do denních menu a zadat 0 porcií." %}</li>
      </ul>
      19. 9. 2025
      <ul>
        <li>{% trans "Kompletní překlad aplikace i reportů do angličtiny. První verze, neváhejte  <a href='https://www.stanislavvalasek.com/contact/'>hlásit možné chyby</a>." %}</li>
      </ul>
      12. 9. 2025
      <ul>
        <li>{% trans "Úprava formátování všech PDF exportů." %}</li>
        <li>{% trans "Export stavu zboží na skladu k vybranému dni." %}</li>
      </ul>
      8. 9. 2025
      <ul>
        <li>{% trans "Výběr data pomocí kalendáře." %}</li>
        <li>{% trans "Aktualizace na nejnovější verzi <a href='https://docs.djangoproject.com/en/5.2/releases/5.2.6/'>Django 5.2.6</a> a souvisejících knihoven." %}</li>
      </ul>
      {% url 'kitchen:changelog' as changelog_url %}
      {% blocktrans with changelog_url=changelog_url %}
      Zobrazit <a href="{{ changelog_url }}">úplný seznam změn.</a>
      {% endblocktrans %}
      <hr/>
      <h5 class=mb-4>
        {% url 'kitchen:docs' as docs_url %}
        {% blocktrans trimmed with docs_url=docs_url %}
          Pročti si <a href="{{ docs_url }}">příručku k aplikaci</a>.
      {% endblocktrans %}
      </h5>
      <hr/>
      <h5 class=mb-4>
        {% trans "Máš nápad na novou funkci nebo jsi narazila na chybu?" %}
      </h5>
      {% blocktrans %}
        Neváhej a
        <a href="https://www.stanislavvalasek.com/contact" target="_blank">kontaktuj přímo autora</a>!
      {% endblocktrans %}
    <br/><br/>
      {% trans "Jsem tu pro vás a těším se na vaše podněty. Pomoz mi zlepšovat KiCoMa a udělej svůj kuchyňský provoz ještě efektivnější!" %}
    </div>
  </div>
</div>
{% endblock content %}
