{% extends "base.html" %}
{% load static i18n %}
{% block content %}
<h4>{% trans "Objevte KiCoMa - Váš spolehlivý pomocník pro správu kuchyně!" %}</h4>
<hr />
<div class="container-fluid">
  <div class="row">
    <div class="col">
      {% trans "KiCoMa je špičkový program určený pro efektivní správu skladu potravin, receptů a menu. S naším programem bude vaše kuchyně fungovat jako hodinky. Pojďte se podívat, jak vám KiCoMa může pomoci:" %}<br/>
      <br/>
      <ul>
          <li>{% blocktrans %}<b>Snadné plánování</b>: Výživová poradkyně jednoduše naplánuje recepty a denní menu.{% endblocktrans %}</li>
          <li>{% blocktrans %}<b>Bezproblémové vaření</b>: Kuchyně vaří přesně podle denního menu, bez stresu a zmatků.{% endblocktrans %}</li>
          <li>{% blocktrans %}<b>Perfektní synchronizace</b>: Recepty a menu jsou propojené se skladem potravin, což znamená, že vždy víte, co máte na skladě.{% endblocktrans %}</li>
          <li>{% blocktrans %}<b>Aktuální stav skladu</b>: Stav skladu se automaticky mění pomocí příjemek a výdejek sestavených podle vydávaných jídel, nebo jednorázovou inventurou.{% endblocktrans %}</li>
          <li>{% blocktrans %}<b>Jednoduché reporty</b>: Vytvářejte přehledné reporty jedním kliknutím. Program je intuitivní a snadno ovladatelný, s nápovědou a podrobným popisem funkcí.{% endblocktrans %}</li>
      </ul>
      {% trans "Pročtěte si " %}<a href="kitchen/docs">{% trans "nápovědu" %}</a>.
    </div>
    <div class="col">
      <h5>{% trans "Autor" %}</h5>
      <p>
          &copy;
          <a href="https://www.linkedin.com/in/stanislavvalasek/" target="_blank">
              {% trans "Stanislav Valášek" %}</a>, 2019 - {% now "Y" %}.
          </a>
      </p>
      {% trans "Máte nápad na novou funkci nebo jste narazili na chybu? Neváhejte a" %}
      <a href="https://forms.gle/RiksHZua81UX748L7" target="_blank">{% trans "kontaktujte přímo autora" %}</a>!
      <br/><br/>
      {% trans "Jsme tu pro vás a těšíme se na vaše podněty. Pomozte nám zlepšovat KiCoMa a udělejte svůj kuchyňský provoz ještě efektivnější!" %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr />
      <h5>{% trans "Připojte se ke KiCoMa ještě dnes!" %}</h5>
      <p>
        <a class="btn btn-success" target="_blank" href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ2sepIGc8sosu7oevx1Xk3fYGiGule7mdjFghy02Uxslk_TfTEAKBMw2bsN5Ja3WZ4nHWgMTcsM">
          {% trans "Zeptejte se, co vás zajímá" %}
        </a>
        {% trans "rezervace online schůzky s autorem." %}
      </p>
    </div>
  </div>
</div>
{% endblock content %}
