{% extends "base.html" %}
{% load static i18n %}
{% block content %}
<h4>
  {% blocktrans with username=request.user.username %}
    Ahoj {{ username }}
  {% endblocktrans %}
</h4>
<hr />
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h5>{% trans "Novinky" %}</h5>
      19. 9. 2025
      <ul>
        <li>{% trans "Kompletní překlad aplikace i reportů do angličtiny. První verze, neváhejte  <a href='https://www.stanislavvalasek.com/contact/'>hlásit možné chyby</a>." %}</li>
      </ul>
      12. 9. 2025
      <ul>
        <li>{% trans "Úprava formátování všech PDF exportů." %}</li>
        <li>{% trans "Export stavu zboží na skladu k vybranému dni." %}</li>
      </ul>
      8. 9. 2025
      <ul>
        <li>{% trans "Výběr data pomocí kalendáře." %}</li>
        <li>{% trans "Aktualizace na nejnovější verzi <a href='https://docs.djangoproject.com/en/5.2/releases/5.2.6/'>Django 5.2.6</a> a souvisejících knihoven." %}</li>
      </ul>
      Zobrazit <a href="{% url 'kitchen:changelog' %}">úplný seznam změn.</a>
      <hr/>
      <h5 class=mb-4>
        {% url 'kitchen:docs' as docs_url %}
        {% blocktrans trimmed with docs_url=docs_url %}
          Pročtěte si <a href="{{ docs_url }}">příručku k aplikaci</a>.
      {% endblocktrans %}
      </h5>
      <hr/>
      <h5 class=mb-4>
        {% trans "Máte nápad na novou funkci nebo jste narazili na chybu?" %}
      </h5>
      {% blocktrans %}
        Neváhejte a
        <a href="https://www.stanislavvalasek.com/contact" target="_blank">kontaktujte přímo autora</a>!
      {% endblocktrans %}
    <br/><br/>
      {% trans "Jsem tu pro vás a těším se na vaše podněty. Pomozte mi zlepšovat KiCoMa a udělejte svůj kuchyňský provoz ještě efektivnější!" %}
    </div>
  </div>
</div>
{% endblock content %}
