
{% load static i18n %}

<h4>{% trans "Objevte KiCoMa - Váš spolehlivý pomocník pro správu kuchyně!" %}</h4>
<hr />
<div class="container-fluid">
  <div class="row">
    <div class="col">
      {% include "kitchen/about_short_intro.html" %}
      {% trans "Pročtěte si " %}<a href="kitchen/docs">{% trans "nápovědu" %}</a>.
    </div>
    <div class="col">
      {% include "kitchen/about_author.html" %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr />
      <h5>{% trans "Připojte se ke KiCoMa ještě dnes!" %}</h5>
      <p>
        <a class="btn btn-success" target="_blank" href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ2sepIGc8sosu7oevx1Xk3fYGiGule7mdjFghy02Uxslk_TfTEAKBMw2bsN5Ja3WZ4nHWgMTcsM">
          {% trans "Zeptejte se, co vás zajíma" %}
        </a>
        {% trans "rezervace online schůzky s autorem." %}
      </p>
    </div>
  </div>
</div>
