{% extends "base.html" %}
{% block content %}
{% load static i18n %}
<h4>{% trans "Změny v aplikaci" %}</h4>
<hr/>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      {% for year, entries in changelog.items %}
        <h5>{% blocktrans %}Změny za {{ year }}{% endblocktrans %}</h5>
        <hr/>
        {% for entry in entries %}
          {{ entry.date }}
          <ul>
            {% for item in entry.items %}
              <li>{{ item|safe }}</li>
            {% endfor %}
          </ul>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col">
      <h5>{% trans "Historie programu" %}</h5>
      <p>
        {% blocktrans %}KiCoMa - <b>Ki</b>tchen <b>Co</b>oking <b>Ma</b>nagement byl vytvořen jako
        moderní nástupce na základě požadavků společnosti{% endblocktrans %}
        <a href="https://www.hospic-cercany.cz/" target="_blank">TŘI, z.ú.</a>
        {% trans "Současný program je inspirován původním programem Strávníček, který v letech 1997 - 1998 vyvinuli Josef Dalibába a Dáša Trmalová." %}
      </p>
      <p>{% trans "A malé nostalgické okénko - takhle vypadal původní program:" %}</p>
      <img src="{% static 'images/stravnicek.png'%}" alt="Stravnicek" />
    </div>
  </div>
</div>
{% endblock content %}
