{% extends 'base.html' %}
{% load humanize %}
{% load static i18n %}
{% block content %}
<div class="container-fluid">
  <h4>{% translate "Údržba dat" %}</h4>
  <p>{% translate "Bezpečné vymazání záznamů z roku" %} {{ two_years_ago }} {% translate "(včetně) a starších povede ke zrychlení aplikace." %}</p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" id="myBtn">{% translate "Vymazat záznamy z roku" %} {{ two_years_ago }} {% translate "(včetně) a starších" %}</button>
  </form>
  <br/>
  <p>{% translate "Aktuální počty záznamů v dotčených tabulkách:" %}</p>
  <div class="row">  
    <div class="col-sm">
      <h5>{% translate "Příjemky" %}</h5>
        <table class="table table-striped table-sm table-responsive">
            <tr>
                <th scope="col">{% translate "Rok" %}</th>
                <th scope="col">{% translate "Počet záznamů" %}</th>
            </tr>
            {% for item in stockreceipts_year_counts %}
            <tr>
                <td scope="row">{{ item.year }}</td>
                <td >{{ item.count | intcomma }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-sm">
        <h5>{% translate "Zboží na příjemkách" %}</h5>
        <table class="table table-striped table-sm table-responsive">
            <tr>
                <th scope="col">{% translate "Rok" %}</th>
                <th scope="col">{% translate "Počet záznamů" %}</th>
            </tr>
            {% for item in stockreceiptarticles_year_counts %}
            <tr>
                <td scope="row">{{ item.year }}</td>
                <td >{{ item.count | intcomma }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-sm">
        <h5>{% translate "Výdejky" %}</h5>
        <table class="table table-striped table-sm table-responsive">
            <tr>
                <th scope="col">{% translate "Rok" %}</th>
                <th scope="col">{% translate "Počet záznamů" %}</th>
            </tr>
            {% for item in stockissues_year_counts %}
            <tr>
                <td scope="row">{{ item.year }}</td>
                <td >{{ item.count | intcomma }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-sm">
        <h5>{% translate "Zboží na výdejkách" %}</h5>
        <table class="table table-striped table-sm table-responsive">
            <tr>
                <th scope="col">{% translate "Rok" %}</th>
                <th scope="col">{% translate "Počet záznamů" %}</th>
            </tr>
            {% for item in stockissuearticles_year_counts %}
            <tr>
                <td scope="row">{{ item.year }}</td>
                <td >{{ item.count | intcomma }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-sm">
        <h5>{% translate "Denní menu" %}</h5>
        <table class="table table-striped table-sm table-responsive">
            <tr>
                <th scope="col">{% translate "Rok" %}</th>
                <th scope="col">{% translate "Počet záznamů" %}</th>
            </tr>
            {% for item in dailymenu_year_counts %}
            <tr>
                <td scope="row">{{ item.year }}</td>
                <td >{{ item.count | intcomma }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-sm">
        <h5>{% translate "Recepty na denních menu" %}</h5>
        <table class="table table-striped table-sm table-responsive">
            <tr>
                <th scope="col">{% translate "Rok" %}</th>
                <th scope="col">{% translate "Počet záznamů" %}</th>
            </tr>
            {% for item in dailymenuarticles_year_counts %}
            <tr>
                <td scope="row">{{ item.year }}</td>
                <td >{{ item.count | intcomma }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-sm">
        <h5>{% translate "Zboží - historie" %}</h5>
        <table class="table table-striped table-sm table-responsive">
            <tr>
                <th scope="col">{% translate "Rok" %}</th>
                <th scope="col">{% translate "Počet záznamů" %}</th>
            </tr>
            {% for item in historicalarticles_year_counts %}
            <tr>
                <td scope="row">{{ item.year }}</td>
                <td >{{ item.count | intcomma }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
  </div>
</div>
{% endblock %}
