{% extends "base.html" %}
{% load static i18n %}
{% load auth_extras %}
{% load humanize %}
{% block content %}
<h4>Nápověda</h4>
<hr />
<div class="container-fluid">
  <div class="row">
    <div class="col">
      {% include "kitchen/about_short_intro.html" %}
    </div>
    <div class="col">
      {% include "kitchen/about_author.html" %}
    </div>
  </div>
  <hr/>
  <div class="row">
  <div class="col-sm-7">
    <h5>Správa zboží</h5>
    <p>Zboží je možné vytvořit nebo upravit v menu <a href="{% url 'kitchen:showArticles' %}">Zboží na skladu</a>. Vymazat se dá v <a href="{% url 'admin:index' %}kitchen/article">administraci</a>.
    Výše zásob na skladu nebo cena zboží se mění pomocí příjemky/výdejky.
    </p>
    <h5>Příjem zboží na sklad</h5>
    <p>Příjem zboží na sklad probíhá pomocí <a href="{% url 'kitchen:showStockReceipts' %}">příjemek</a> uživatelem ve skupine "Skladník".
    Před příjmem musí být zboží na skladu založeno. Výše zásob a cena zboží je aktualizována jenom když je příjemka schválená.
    Úprava zboží a vyskladnění již naskladněné přijemky není možná.
    <h5>Inventura</h5>
    <p>Program umožňuje PDF export úplného seznamu zboží pro kontrolu skladových zásob a pak možnost exportu skladu ve formátu MS Excel s následným importem.
    <h5>Výdej zboží ze skladu</h5>
    <p>Výdejku je možno vytvořit manuálně nebo ji <a href="{% url 'kitchen:createStockIssueFromDailyMenu' %}">založit dle všech denních menu pro zadaný den</a>.<br />
    Když se denní menu změní, je možno Výdejku "Aktualizovat" a tím se vymaže všechno zboží a znovu se vytvoří ve výdejce dle zadaného dne.
    Příjem zboží na sklad probíhá pomocí <a href="{% url 'kitchen:showStockIssues' %}">výdejek</a> uživatelem ve skupine "Skladník".
    Před výdejem musí být zboží v minimálně vyskladňované výši naskladněno. Výše zásob a cena zboží je aktualizována jenom když je výdejka schválená.
    </p>
    <h5>Správa receptů</h5>
    <p>Recepty a ingredience v receptech je možné vytvořit, upravit nebo vymazat v menu <a href="{% url 'kitchen:showRecipes' %}">Seznam receptů</a>.</p>
    <h5>Správa denního menu</h5>
    <p>Denní menu a související recepty je možné vytvořit, upravit nebo vymazat v menu <a href="{% url 'kitchen:showDailyMenus' %}">Sestavit denní menu</a>.</p>
    <h5>Reporty a tisky</h5>
    <p>Všechny tisky probíhají pomocí generování PDF, které je možno zobrazit, uložit nebo vytisknout.</p>
    <h5>Správa číselníků</h5>
    <p>Číselníky spravuje uživatel ve skupině "Šéfkuchař" v <a href="{% url 'admin:index' %}kitchen">Administraci</a>.
    <br />
    Odkaz na úpravu konkrétního číselníku: <a href="{% url 'admin:index' %}kitchen/allergen">alergeny</a>,
    <a href="{% url 'admin:index' %}kitchen/vat">DPH</a>,
    <a href="{% url 'admin:index' %}kitchen/mealtype">druhy jídla</a>,
    <a href="{% url 'admin:index' %}kitchen/mealgroup">skupinu strávníků</a>.</p>
  </div>
  <div class="col-sm">
    <h5>Uživatelské skupiny</h5>
      <p>Založení, úprava nebo výmaz uživatele je možný v <a href="{% url 'admin:index' %}users/user/">administraci</a>.</p>
      <table class="table table-responsive table-sm">
        <thead class="thead-light">
          <tr>
            <th>Skupina</th>
            <th>Oprávnění</th>
          </tr>
        </thead>
        <tr>
          <th>Šéfkuchař (Chef)</th>
          <td>
            Administrátor<br />
            Správa skupin i uživatelů, všech
            číselníků.<br/>
            Export a import jakýchkoli dat.
          </td>
        </tr>
        <tr>
          <th>Kuchař (Cook)</th>
          <td>Tvorba denního menu, tvorba a správa výdejek kromě schvalování a PDF reporty</td>
        </tr>
        <tr>
          <th>Skladník (Stockkeeper)</th>
          <td>
            Správa skladu - založení nové skladové karty, úprava zboží, zadávání a schvalování příjemek, schvalování a tvorba výdejek<br/>
            Inventura
          </td>
        </tr>
      </table>
      <h5>Administrace aplikace</h5>
      <p>Uživatel ve skupině "Šéfkuchař" má právo na Administrační sekci a export nebo import dat.
      Každou datovou tabulku včetně uživatelů je možno plně zpravovat v <a href="{% url 'admin:index' %}kitchen">administraci</a> a nejsou aplikovány žádné dodatečné kontroly.
      Není doporučeno měnit sekce <a href="{% url 'admin:index' %}auth">Autentizace a autorizace</a>, <a href="{% url 'admin:index' %}sites">Weby</a>,
      <a href="{% url 'admin:index' %}account">Účty</a> a <a href="{% url 'admin:index' %}socialaccount">Účty sociálních sítí</a>.</p>
      <p>Export nebo import dat obsahuje všechna data KiCoMa kromě seznamu uživatelů a skupin. Ty je nutno v nové aplikaci nastavit programově.</p>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col">
    <h5>{% trans "Datový model" %}</h5>
    <img src="{% static 'images/datamodel.png'%}" width="100%" alt="data model" />
  </div>
</div>
<hr/>
{% if request.user.is_authenticated %}
<div class="row">
  <div class="col">
    <h5>Stav a objem dát</h5>
    <p scope="row">Databáze obsahuje celkem {{ total_records | intcomma }} záznamů.</p>
    <div class="row">  
      <div class="col-sm">
        <h5>Uživatelská data</h5>
        <table class="table table-striped table-sm table-responsive">
          <tr>
            <th scope="col">Tabulka</th>
            <th scope="col">Záznamů</th>
          </tr>
          <tr>
            <td scope="row">Zboží</td>
            <td >{{ article_count | intcomma }}</td>
          </tr>
          <tr>
            <td scope="row">Vazby mezi zboží a alergeny</td>
            <td >{{ article_allergen_count| intcomma }}</td>
          </tr>
          <tr>
            <td scope="row">Zboží - historie</td>
            <td >{{ historical_article_count | intcomma }}</td>
          </tr>
          <tr>
            <td scope="row">Recepty</td>
            <td >{{ recipeCount | intcomma }}</td>
          </tr>
          <tr>
            <td scope="row">Surovin v receptech</td>
            <td >{{ recipe_article_count | intcomma }}</td>
          </tr>
          <tr>
            <td scope="row">Příjemky</td>
            <td >{{ stockReceiptCount | intcomma }}</td>
          </tr>
          <tr>
            <td scope="row">Zboží na příjemkách</td>
            <td >{{ stock_receipt_article_count | intcomma }}</td>
          </tr>
          <tr>
            <td scope="row">Výdejky</td>
            <td >{{ stockIssueCount | intcomma }}</td>
          </tr>
          <tr>
            <td scope="row">Zboží na výdejkách</td>
            <td >{{ stock_issue_article_count | intcomma }}</td>
          </tr>
          <tr>
            <td scope="row">Denní menu</td>
            <td >{{ dailyMenuCount | intcomma }}</td>
          </tr>
          <tr>
            <td scope="row">Recepty v denních menu</td>
            <td >{{ dailyMenuRecipeCount | intcomma }}</td>
          </tr>
        </table>
      </div>
      <div class="col-sm">
        <h5>Číselníky</h5>
        <table class="table table-striped table-sm table-responsive">
          <tr>
            <th scope="col">Tabulka</th>
            <th scope="col">Záznamů</th>
          </tr>
          <tr>
            <td scope="row">Druhy jídla</td>
            <td >{{ meal_typeCount | intcomma }}</td>
          </tr>
            <tr>
            <td scope="row">Skupiny strávníků</td>
            <td >{{ mealGroupCount | intcomma }}</td>
          </tr>
          <tr>
            <td scope="row">Alergeny</td>
            <td >{{ allergenCount | intcomma }}</td>
          </tr>
          <tr>
            <td scope="row">DPH</td>
            <td >{{ vatCount | intcomma }}</td>
          </tr>
        </table>
        <h5>Práva</h5>
        <table class="table table-striped table-sm table-responsive">
          <tr>
            <th scope="col">Tabulka</th>
            <th scope="col">Záznamů</th>
          </tr>
          <tr>
            <td scope="row">Uživatelé</td>
            <td >{{ userCount | intcomma }}</td>
          </tr>
          <tr>
            <td scope="row">Skupiny</td>
            <td >{{ groupCount | intcomma }}</td>
          </tr>
        </table>
      </div>
      <div class="col-sm">
        <h5>Servisní tabulky</h5>
        <table class="table table-striped table-sm table-responsive">
          <tr>
            <th scope="col">Tabulka</th>
            <th scope="col">Záznamů</th>
          </tr>
          <tr>
            <td scope="row">Content types</td>
            <td >{{ content_type_count | intcomma }}</td>
          </tr>
          <tr>
            <td scope="row">Group permissions</td>
            <td >{{ permission_count | intcomma }}</td>
          </tr>
          <tr>
            <td scope="row">DB migrations</td>
            <td >{{ migration_count | intcomma }}</td>
          </tr>
          <tr>
            <td scope="row">Sessions</td>
            <td >{{ session_count | intcomma }}</td>
          </tr>
          <tr>
            <td scope="row">Sites</td>
            <td >{{ site_count | intcomma }}</td>
          </tr>
          <tr>
            <td scope="row">User group relationships</td>
            <td >{{ user_group_rel_count | intcomma }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}
<hr/>
<div class="row">
  <div class="col">
    <h5>{% trans "Historie programu" %}</h5>
    <p>
      {% blocktrans %}KiCoMa - <b>Ki</b>tchen <b>Co</b>oking <b>Ma</b>nagement byla vytvořena jako
      moderní nástupce na základě požadavků společnosti{% endblocktrans %}
      <a href="https://www.hospic-cercany.cz/" target="_blank">TŘI, z.ú.</a>
      {% trans "Současný program je inspirován původním programem Strávníček, který v letech 1997 - 1998 vyvinuli Josef Dalibába a Dáša Trmalová." %}
      <p>
        {% trans "Prohlédněte si, " %}
        <a href="changelog">{% trans "jakými změnami" %}</a>
        {% trans "program prošel od té doby do současnosti." %}
      </p>
    </p>
    <p>A malé nostalgické okénko - takhle vypadal původní program:</p>
    <img src="{% static 'images/stravnicek.png'%}" alt="Stravnicek" />
  </div>
</div>
{% endblock content %}
