{% extends "base.html" %}
{% block content %}
<h4>Nápověda</h4>
<hr />
<div class="container-fluid">
<div class="row">
  <div class="col-sm-7">
    <h5>Správa zboží</h5>
    <p>Zboží je možné vytvořit nebo upravit v menu <a href="{% url 'kitchen:showArticles' %}">Zboží na skladu</a>. Vymazat se dá v <a href="{% url 'admin:index' %}kitchen/article">administraci</a>.
    Výše zásob na skladu nebo cena zboží se mění pomocí příjemky/výdejky.
    </p>
    <h5>Příjem zboží na sklad</h5>
    <p>Příjem zboží na sklad probíhá pomocí <a href="{% url 'kitchen:showStockReceipts' %}">příjemek</a> uživatelem ve skupine "Stockkeeper - skladník".
    Před příjmem musí být zboží na skladu založeno. Výše zásob a cena zboží je aktualizována jenom když je příjemka schválená.
    Úprava zboží a vyskladnění již naskladněné přijemky není možná.
    <h5>Inventura</h5>
    <p>Program umožňuje PDF export úplného seznamu zboží pro kontrolu skladových zásob a pak možnost exportu skladu ve formátu MS Excel s následným importem.
    <h5>Výdej zboží ze skladu</h5>
    <p>Výdejku je možno vytvořit manuálně nebo ji <a href="{% url 'kitchen:createStockIssueFromDailyMenu' %}">založit dle všech denních menu pro zadaný den</a>.<br />
    Když se denní menu změní, je možno Výdejku "Aktualizovat" a tím se vymaže všechno zboží a znovu se vytvoří ve výdejce dle zadaného dne.
    Příjem zboží na sklad probíhá pomocí <a href="{% url 'kitchen:showStockIssues' %}">výdejek</a> uživatelem ve skupine "Stockkeeper - skladník".
    Před výdejem musí být zboží v minimálně vyskladňované výši naskladněno. Výše zásob a cena zboží je aktualizována jenom když je výdejka schválená.
    </p>
    <h5>Správa receptů</h5>
    <p>Recepty a ingredience v receptech je možné vytvořit, upravit nebo vymazat v menu <a href="{% url 'kitchen:showRecipes' %}">Seznam receptů</a>.</p>
    <h5>Správa denního menu</h5>
    <p>Denní menu a související recepty je možné vytvořit, upravit nebo vymazat v menu <a href="{% url 'kitchen:showDailyMenus' %}">Sestavit denní menu</a>.</p>
    <h5>Reporty a tisky</h5>
    <p>Všechny tisky probíhají pomocí generování PDF, které je možno zobrazit, uložit nebo vytisknout.</p>
    <h5>Správa číselníků</h5>
    <p>Číselníky spravuje uživatel ve skupině "Chef - šéfkuchař" v <a href="{% url 'admin:index' %}kitchen">Administraci</a>.
    Nahrané jsou stejné hodnoty jako ve Strávníčku.
    <br />
    Přímý odkaz na správu číselníku: <a href="{% url 'admin:index' %}kitchen/allergen">alergeny</a>,
    <a href="{% url 'admin:index' %}kitchen/vat">DPH</a>,
    <a href="{% url 'admin:index' %}kitchen/mealtype">druhy jídla</a>,
    <a href="{% url 'admin:index' %}kitchen/mealgroup">skupinu strávníků</a>.</p>
  </div>
  <divJosef class="col-sm">
    <h5>Uživatelské skupiny</h5>
      <p>Založení, úprava nebo výmaz uživatele je možný v <a href="{% url 'admin:index' %}users/user/">administraci</a>.</p>
      <table class="table table-responsive table-sm">
        <thead class="thead-light">
          <tr>
            <th>Skupina</th>
            <th>Uživatelé</th>
            <th>Oprávnění</th>
          </tr>
        </thead>
        <tr>
          <th>Chef - šéfkuchař</th>
          <td>slavicek</td>
          <td>
            Administrátor<br />
            Správa skupin i uživatelů, všech
            číselníků.<br/>
            Export a import jakýchkoli dat.
          </td>
        </tr>
        <tr>
          <th>Cook - kuchař</th>
          <td>drabkova, kohnerova</td>
          <td>Tvorba denního menu, tvorba a správa výdejek kromě schvalování a PDF reporty</td>
        </tr>
        <tr>
          <th>Stockkeeper - skladník</th>
          <td>drazdikova, klinderova</td>
          <td>
            Správa skladu - založení nové skladové karty, úprava zboží, zadávání a schvalování příjemek, schvalování a tvorba výdejek<br/>
            Inventura
          </td>
        </tr>
      </table>
      <h5>Administrace aplikace</h5>
      <p>Uživatel ve skupině "Chef - šéfkuchař" má právo na Administrační sekci a export nebo import dat.
      Každou datovou tabulku včetně uživatelů je možno plně zpravovat v <a href="{% url 'admin:index' %}kitchen">administraci</a> a nejsou aplikovány žádné dodatečné kontroly.
      Není doporučeno měnit sekce <a href="{% url 'admin:index' %}auth">Autentizace a autorizace</a>, <a href="{% url 'admin:index' %}sites">Weby</a>,
      <a href="{% url 'admin:index' %}account">Účty</a> a <a href="{% url 'admin:index' %}socialaccount">Účty sociálních sítí</a>.</p>
      <p>Export nebo import dat obsahuje všechna data KiCoMa kromě seznamu uživatelů a skupin. Ty je nutno v nové aplikaci nastavit programově.</p>
  </div>
</div>
{% endblock content %}
