{% extends "base.html" %}
{% block content %}

<h4>Stav aplikace</h4>
<hr/>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h6>Změny v aplikaci</h6>
        28. 8. 2020
        <ul>
          <li>Zadání a aktualizace zboží na výdejce umožní zadat zboží s 0 množstvím</li>
          <li>Oprava - Příjemka - možno upravit zboží</li>
          <li>Oprava - Výdejka - možno zadat i větší počet zboží, než je na skladu</li>
          <li>Oprava - Příjemka - řazení zboží dle pořadí zadání</li>
        </ul>
        27. 8. 2020
        <ul>
          <li>Přesun menu Přehled a Nápověda do menu O aplikaci</li>
          <li>Možnost exportu a importu všech dat aplikace</li>
          <li>Oprava - Výdejka - celková cena zboží na výdejce se počíta z průměrné ceny zboží vyskladnění a ne z ceny zboží na skladu</li>
          <li>Oprava - Výdejka - konsolidované zboží je počítáno ve správném množství</li>
          <li>Do doby vyskladnění je možnost aktualizovat vyskladňované zboží na výdejce</li>
          <li>Přehlednější zobrazení všech tabulek</li>
          <li>V historii zboží zobrazení příjemka/výdejka</li>
        </ul>
        26. 8. 2020
        <ul>
          <li>Oprava - Možnost exportu všech receptů v denním menu </li>
          <li>Oprava - hledání zboží v administraci již funguje</li>
        </ul>
        25. 8. 2020
        <ul>
          <li>Výdejka - Zboží řazeno abecedně v PDF i s seznamu</li>
          <li>Oprava počítání celkové ceny receptu</li>
          <li>Přidání zobrazení ingrediencí receptu z denního menu</li>
          <li>Oprava - Správné počítání ceny zboží na výdejce</li>
        </ul>
        24. 8. 2020
        <ul>
          <li>Inventura - možnost importu a exportu zboží pro roli Šéfkuchař - Dáša, Josef</li>
          <li>Recepce/Kuchyň, oprava - Tvorba výdejky z denního menu nekontroluje skutečné množství na skladu, to je kontrolováno až při schválení výdejky</li>
          <li>Oprava - Recept z denního menu již jde vymazat</li>
          <li>Oprava - Tlačítko Zpět na ingrediencích receptu již funguje</li>
          <li>Oprava - Minimální množství na skladu je nepovinné pole a min hodnota je 0</li>
          <li>Kuchyně/recepce - Zboží se na výdejce z denního menu vyskytuje jenom jednou</li>
        </ul>
        23. 8. 2020
        <ul>
          <li>Importována data ze Stravníčka z dne 18.8.2020</li>
          <li>Jenom role chef má právo na Založení nové skladové karty - nového druhu zboží na sklad (pí. Trmalová, Josef Slavíček)</li>
          <li>Oprava PDF formátování - text se nepřekrývá od druhé stránky dál</li>
          <li>Recepce/Kuchyň - Inventura - tisk PDF pro zjištění skutečného stavu zásob na skladu</li>
          <li>Kuchyň - Nový report - Zboží nepoužito na žádném receptu</li>
          <li>Recepce/Kuchyň, oprava - Tvorba výdejky z denního menu již není blokována neexistenci výdejky, ale kontroluje skutečné množství na skladu</li>
        </ul>
        22. 8. 2020
        <ul>
          <li>Recepce - Možnost zobrazení historie změn u zboží</li>
          <li>Recepce - Oprava chyby - Vydejka po schválení teď zmení stav zboží na skladu</li>
          <li>Recepce - Oprava ceny zboží při schválení příjemky/výdejky je správně aktualizována</li>
        </ul>
        19. 8. 2020
        <ul>
          <li>Kontrola konverze jednotek u zboží na receptech, příjemkách a výdejkách</li>
          <li>Recepce - Výdejka - v PDF i seznamu není zobrazena správná jednotková a sumární cena zboží</li>
          <li>Paní Trmalová - Report na kontrolu správnosti zadaných jednotek</li>
        </ul>
        17. 8. 2020
        <ul>
          <li>Recepce - možnost zadat datum na příjemce</li>
          <li>Recepce - V menu zobrazit nápovědu</li>
          <li>Recepce - Přeložit Log-in a Register</li>
          <li>Kuchyně - přidány práva na správu výdejek kromě schválení a výmazu</li>
          <li>Kuchyně - v denním menu je řazeno dle datumu a pak typu jidla</li>
          <li>Recepce - kontrola a nemožnost úpravy/přidání/výmazu zboží PO schválení příjemky/výdejky</li>
        </ul>
        Přesun standardní funkcionality Strávníčka
        <ul>
          <li>Správa číselníků</li>
          <li>Přesunut a nahrán obsah Strávníčka (Zboží, Recepty, Ingredience)</li>
          <li>PDF s denním menu dle datumu s možností filtrace na skupinu strávníků<br/></s>
          <li>PDF se seznam receptů a jednotlivého receptu<br/></s>
          <li>Je možno vytvořit výdejku na základě receptů z denního menu<br/></s>
        </ul>
      </div>
      <div class="col-sm-4">
        <h6>Hlášení změn nebo chyb</h6>
        <p>Zadat do <a href="https://forms.gle/akbzoiLsPCLTU7gP8">formuláře</a><br/>
          Josef přímo do <a href="https://docs.google.com/spreadsheets/d/1-dznqZ2MkhfJmeXWMZ4sWs0rehxQBSEeopGulCl8oy4/edit#gid=99582909">sdíleného excelu</a><br/>
          nebo email na <a href="mailto:valasek@gmail.com">valasek@gmail.com</a><br/>
          nebo nebo volat na 724 323 948.
        </p>
        <h6>Čeká</h6>
        <p></p>Pamatovat poslední zadané datum<br />
        Kalendář místo textového pole</p>
        <h6>Dobré nápady</h6>
        <p>Přesun na server (změnit admin url a username)<br />
        Použití skenerů čárových kódů<br />
        Nahrazení zboží ve výdejce se automaticky propíše do denního menu
        </p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm">
        <h5>Data</h5>
        <table class="table table-striped table-sm table-responsive">
          <tr>
            <th scope="col">Tabulka</th>
            <th scope="col">Záznamů</th>
          </tr>
          <tr>
            <td scope="row">Zboží</td>
            <td >{{ articleCount }}</ts>
          </tr>
          <tr>
            <td scope="row">Recepty</td>
            <td >{{ recipeCount }}</td>
          </tr>
          <tr>
            <td scope="row">Surovin v receptech</td>
            <td >{{ recipe_article_count }}</td>
          </tr>
          <tr>
            <td scope="row">Příjemky</td>
            <td >{{ stockReceiptCount }}</ts>
          </tr>
          <tr>
            <td scope="row">Zboží na příjemkách</td>
            <td >{{ stock_receipt_article_count }}</td>
          </tr>
          <tr>
            <td scope="row">Výdejky</td>
            <td >{{ stockIssueCount }}</ts>
          </tr>
          <tr>
            <td scope="row">Zboží na výdejkách</td>
            <td >{{ stock_issue_article_count }}</td>
          </tr>
          <tr>
            <td scope="row">Denní menu</td>
            <td >{{ dailyMenuCount }}</td>
          </tr>
         <tr>
            <td scope="row">Recepty v denních menu</td>
            <td >{{ dailyMenuRecipeCount }}</td>
          </tr>
        </table>
      </div>
      <div class="col-sm">
        <h5>Číselníky</h5>
        <table class="table table-striped table-sm table-responsive">
          <tr>
            <th scope="col">Tabulka</th>
            <th scope="col">Záznamů</th>
          </tr>
          <tr>
            <td scope="row">Druhy jídla</td>
            <td >{{ meal_typeCount }}</ts>
          </tr>
            <tr>
            <td scope="row">Skupiny strávníků</td>
            <td >{{ mealGroupCount }}</ts>
          </tr>
          <tr>
            <td scope="row">Alergény</td>
            <td >{{ allergenCount }}</ts>
          </tr>
          <tr>
            <td scope="row">DPH</td>
            <td >{{ vatCount }}</ts>
          </tr>
        </table>
      </div>
      <div class="col-sm">
        <h5>Práva</h5>
        <table class="table table-striped table-sm table-responsive">
          <tr>
            <th scope="col">Tabulka</th>
            <th scope="col">Záznamů</th>
          </tr>
          <tr>
            <td scope="row">Uživatelé</td>
            <td >{{ userCount }}</ts>
          </tr>
          <tr>
            <td scope="row">Skupiny</td>
            <td >{{ groupCount }}</ts>
          </tr>
        </table>
      </div>
  </div>
</div>

{% endblock content %}
