{% extends "base.html" %}
{% block content %}
{% load i18n %}


<h4>{% trans "Change the language" %}</h4>
<hr/>
<form action="{% url 'kitchen:set_language' %}" method="post">{% csrf_token %}
  <div class="row">
    <div class="col">
      <input name="next" type="hidden" value="{{ redirect_to }}">
      <select name="language" class="form-control">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
              <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                  {{ language.name_local }} ({{ language.code }})
              </option>
          {% endfor %}
      </select>
    </div>
    <div class="col">
      <input type="submit" class="btn btn-primary" value={% trans "Go" %}>
    </div>
  </div>
</form>

{% endblock content %}
