{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<div class="container-fluid">
  <h4>{% translate "Import dat" %}</h4>
  <hr/>
  <div class="alert alert-danger" role="alert">
    <h1 class="display-4">{% translate "Upozornění" %}</h1>
    <p class="lead">
      {% translate "Import vymaže a nahradí všechna data v aplikaci včetně uživatelských účtů nahranýma." %}<br/>
      {% translate "Primárním cílem je přesun dat mezi testovacím a produkčním prostředím." %}
    </p>
    <p class="fw-bold">
      {% translate "Zkontroluj, že máš zálohovaná data! Pomocí" %} <a href="{% url 'kitchen:export' %}">{% translate "Exportu všech dat" %}</a>.
    </p>
  </div>
  <p>{% translate "Vyber soubor, který jsi exportovala" %} (<a href="{% url 'kitchen:export' %}">{% translate "Export všech dat" %}</a>):</p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile"><br/> <br/>
    <button type="submit" class="btn btn-success" id="myBtn">{% translate "Import všech dat" %}</button>
  </form>
  <div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{% translate "Import zahájen" %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <p>{% translate "Odhadovaná doba trvání je 1 minuta." %}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Rozumím" %}</button>
        </div>
      </div>
    </div>
  </div>

<script>
$(document).ready(function(){
  $("#myBtn").click(function(){
    $("#myModal").modal();
  });
});
</script>

</div>
{% endblock %}
