{% extends "base.html" %}
{% load static i18n %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <dl class="row">
        <dt class="col-sm-3">{% translate "Uživatelské jméno" %}</dt>
        <dd class="col-sm-9">{{ object.username }}</dd>
        <dt class="col-sm-3">{% translate "Jméno" %}</dt>
        <dd class="col-sm-9">{{ object.name|default:"-" }}</dd>
        <dt class="col-sm-3">E-mail</dt>
        <dd class="col-sm-9">{{ object.email|default:"-" }}</dd>
        <dt class="col-sm-3">{% translate "Skupiny" %}</dt>
        <dd class="col-sm-9">
          {% for label in group_labels %}{{ label }}{% if not forloop.last %}, {% endif %}{% empty %}-{% endfor %}
        </dd>
        <dt class="col-sm-3">{% translate "Novinky" %}</dt>
        <dd class="col-sm-9"><a href="{% url 'kitchen:changelog' %}">{% translate "Novinky" %}</a></dd>
        <dt class="col-sm-3">{% translate "Příručka" %}</dt>
        <dd class="col-sm-9"><a href="{% url 'kitchen:docs' %}">{% translate "Příručka" %}</a></dd>
      </dl>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">{% translate "Moje údaje" %}</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

